# dependencies
**/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist
/public/build/

# dotenv environment variables file
.env
.env.test
.env.production

# misc
.DS_Store
Thumbs.db
.env.local
.env.development.local
.env.test.local
.env.production.local
.vercel

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
