.item-tags {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, min-content));
  gap: 4px;
  box-sizing: border-box;
  width: 0;
  min-width: 100%;
  margin-bottom: 4px;
  padding: 0 4px;
  overflow: hidden;
}

.item-tag {
  padding: 0 2px;
  overflow: hidden;
  color: lightgray;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: rgba(white, .08);
  border: 1px solid #333;
  border-radius: 2px;
  cursor: pointer;

  &:hover {
    filter: brightness(1.2);
  }

  &-selected {
    color: white;
    background-color: rgba(white, .2);
    border-color: gray;
  }
}
