.quick-filter {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 30px;
}

:deep(.quick-filter-input) {
  width: 150px;
  background: rgba(white, .1);
  border: 1px solid #555;
  border-radius: 4px;
}
