.deconstruct-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 4px 0;

  &:not(.empty-deconstruct-item):hover {
    background-color: rgba(white, .04);
  }
}
