:deep(.table-icon) {
  background-image: url('/src/assets/svg/table-large.svg');
}

.column-toggle-button {
  display: grid;
  grid-template-columns: 140px auto;
  align-items: center;
  padding: 8px 12px 8px 0;
  text-align: start;
  background: none;
  border: 0;
  cursor: pointer;

  .column-row-dragging & {
    cursor: ns-resize;
  }
}
