.locale-selector {
  position: relative;
}

.locale-selector-button {
  display: flex;
  align-items: center;
  height: 38px;
  padding-left: 8px;
  background: none;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  opacity: .7;
  transition: background-color .1s;

  &:hover {
    background-color: rgba(white, .1);
    opacity: 1;
  }
}

.web-icon {
  width: 18px;
  height: 18px;
  background: url('/src/assets/svg/web.svg') no-repeat;
  background-size: contain;
}

.chevron-down-icon {
  width: 12px;
  height: 12px;
  background: url('/src/assets/svg/chevron-down.svg') no-repeat;
  background-size: contain;
}

.locale-selector-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 2;
  padding: 8px 0;
  background-color: #333;
  box-shadow: 4px 4px 8px 2px rgba(black, .3);

  &-collapsed {
    display: none;
  }
}

.locale-dropdown-item {
  width: 100%;
  padding: 8px 12px;
  white-space: nowrap;
  text-align: start;
  background: none;
  border: 0;
  border-radius: 0;
  cursor: pointer;

  &:hover {
    background-color: rgba(white, .1);
  }
}
