.items-container {
  display: grid;
  grid-template-columns: auto minmax(120px, max-content) max-content max-content max-content auto;
  gap: 4px;
  align-items: center;
  height: fit-content;
  background-color: #030404;

  & > * {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: #191919;
  }
}

.items-grid-header {
  padding: 0 8px;
  text-align: center;

  &.empty-header {
    background-color: transparent;
  }
}

.item-header-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.item-image {
  padding: 4px;
}

.item-name {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.item-name-link {
  padding: 4px;
  overflow-x: hidden;

  > * {
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.item-recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-around;
  padding: 4px 8px;
}

.b-button.item-action-button {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  height: 28px;
  overflow-x: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.gain-item-image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}
